{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Meilleurs Films à voir ! </h2>
    <p>
    {% if meilleursFilms %}
        {% for film in meilleursFilms %}
        <div class="film">
            <img width="64" src="{{ film.image }}" />
            <b>Moyenne des notes pour ce film : {{film.moyenneCritiqueFilm}}/5</b>
            <h3>{{ film.nom }}</h3>
            <a href="{{ path('film', {id: film.id}) }}">Fiche film &raquo;</a>
        </div>
        {% endfor %}
    {% else %}
        Il n'y a aucun film!
    {% endif %}
    </p>
{% endblock %}
